In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Ebola

In [2]:
epidemic_ebola='/Users/maheshdivakarannair/Documents/GitHub/project-outbreak/data_sets/epidemic/ebola.csv'

In [3]:
epidemic_ebola_df = pd.read_csv(epidemic_ebola)

In [4]:
epidemic_ebola_df.head()

,Country,Date,No. of suspected cases,No. of probable cases,No. of confirmed cases,"No. of confirmed, probable and suspected cases",No. of suspected deaths,No. of probable deaths,No. of confirmed deaths,"No. of confirmed, probable and suspected deaths"
0,Guinea,2014-08-29,25.0,141.0,482.0,648.0,2.0,141.0,287.0,430.0
1,Nigeria,2014-08-29,3.0,1.0,15.0,19.0,0.0,1.0,6.0,7.0
2,Sierra Leone,2014-08-29,54.0,37.0,935.0,1026.0,8.0,34.0,380.0,422.0
3,Liberia,2014-08-29,382.0,674.0,322.0,1378.0,168.0,301.0,225.0,694.0
4,Sierra Leone,2014-09-05,78.0,37.0,1146.0,1261.0,11.0,37.0,443.0,491.0

In [5]:
rds_connection_string = "mahesh1:mahesh@localhost:5432/marketing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [6]:
epidemic_ebola_df.to_sql(name='ebola_epidemic', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from ebola_epidemic', con=engine).head()

,Country,Date,No. of suspected cases,No. of probable cases,No. of confirmed cases,"No. of confirmed, probable and suspected cases",No. of suspected deaths,No. of probable deaths,No. of confirmed deaths,"No. of confirmed, probable and suspected deaths"
0,Guinea,2014-08-29,25.0,141.0,482.0,648.0,2.0,141.0,287.0,430.0
1,Nigeria,2014-08-29,3.0,1.0,15.0,19.0,0.0,1.0,6.0,7.0
2,Sierra Leone,2014-08-29,54.0,37.0,935.0,1026.0,8.0,34.0,380.0,422.0
3,Liberia,2014-08-29,382.0,674.0,322.0,1378.0,168.0,301.0,225.0,694.0
4,Sierra Leone,2014-09-05,78.0,37.0,1146.0,1261.0,11.0,37.0,443.0,491.0

# Corona

In [3]:
epidemic_corona='/Users/maheshdivakarannair/Documents/GitHub/project-outbreak/data_sets/epidemic/covid_19.csv'

In [4]:
epidemic_corona_df = pd.read_csv(epidemic_corona)

In [5]:
epidemic_corona_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,31.8257,117.2264,1/22/20,1,0,0
1,Beijing,Mainland China,40.1824,116.4142,1/22/20,14,0,0
2,Chongqing,Mainland China,30.0572,107.8740,1/22/20,6,0,0
3,Fujian,Mainland China,26.0789,117.9874,1/22/20,1,0,0
4,Gansu,Mainland China,36.0611,103.8343,1/22/20,0,0,0

In [11]:
epidemic_corona_df["Date"]

0        1/22/20
1        1/22/20
2        1/22/20
3        1/22/20
4        1/22/20
          ...
10345     3/7/20
10346     3/7/20
10347     3/7/20
10348     3/7/20
10349     3/7/20
Name: Date, Length: 10350, dtype: object

In [10]:
rds_connection_string = "mahesh1:mahesh@localhost:5432/marketing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
epidemic_corona_df.to_sql(name='corona_epidemic', con=engine, if_exists='append', index=False)

In [12]:
pd.read_sql_query('select * from corona_epidemic', con=engine).head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,31.8257,117.2264,1/22/20,1,0,0
1,Beijing,Mainland China,40.1824,116.4142,1/22/20,14,0,0
2,Chongqing,Mainland China,30.0572,107.8740,1/22/20,6,0,0
3,Fujian,Mainland China,26.0789,117.9874,1/22/20,1,0,0
4,Gansu,Mainland China,36.0611,103.8343,1/22/20,0,0,0